<!DOCTYPE html>

<html lang = 'en'>
    <head>
        <meta name="viewport" content="initial-scale=1m width=device-width">
        <title>
            Registration Requests
        </title>
    </head>
    <body>
        <p>Registration Requests</p>
        <form action="/doacceptregistrationrequest" method="post">
            <input type="submit" value="Accept">
        </form>
        <form action="/dodenyregistrationrequest" method="post">
            <input type="submit" value="Deny">
        </form>
        <p>{{registrationrequestlist}}</p>
    </body>
</html>