<!DOCTYPE html>

<html lang = 'en'>
    <head>
        <meta name="viewport" content="initial-scale=1m width=device-width">
        <title>
            Register
        </title>
    </head>
    <body>
        <p>Register for an account.</p>
        <form action="/doregister" method="post">
            <input name="username" placeholder="Username" type = "text">
            <input name="password" placeholder="Password" type = "password">
            <input name="email"  placeholder="Email Address" type = "text">
            <input type="submit" value="register">
        </form>
    </body>
</html>
